<h1>Bookmarks</h1>

<ul>
<% @list.each do |bookmark| %>
  <form action="bookmarks/<%= bookmark.id %>" method="post">
    <li class="bookmark">
      <a href="<%= bookmark.url %>"><%= bookmark.title %></a>
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete" />
    </li>
  </form>
<% end %>
</ul>
<form action="bookmarks/new" method="get">
    <input type="submit" value="New" />
</form>
